.container-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
  
  .modal-content{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #fff;
    border-radius: 20px;
  }

  .layout-modal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .modal-title{
    display: flex;
    justify-content: center;
    flex-grow: 2;
  }

  .title-container{
    display: flex;
    justify-content: flex-start;
    padding: 2vw;
    align-items: center;
  }

  .back-button{
    display: flex;
    justify-content: flex-start;
    padding: 1vw;
  }

  .img-margin{
    width: 20vw;
    height: 40vh;
  }
