  
.item{
  display: flex;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.list-item{
  display: flex;
  flex: 1 0 15%;
  flex-direction: column;
  padding: 20px;
  align-items: center;

}

.id-item{
  background-color: lightgray;
  padding: 2% 8% 2% 8%;
  border-radius: 20px;
  font-size: 1em;
  color: gray;
} 

.img-item{
  padding: 0 20% 0 20%;
}

.text-item{
  font-family: 'Roboto', sans-serif;
  padding: 0 20% 15% 20%;
}

